body {
  font-family: sans-serif;
  background-color: #000;
  color: #fff;
}

.container-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.container-canvas {
  border-radius: 5px;
  margin-bottom: 20px;
  background-color: lightgray;
  width: 48%;
}

canvas {
  border-radius: 5px 5px 0 0;
  width: 100% !important;
  height: auto !important;
}

select {
  position: relative !important;
  display: block;
  padding: 10px;
  margin: 15px;
}

/* Adding media queries for responsivness, so the canvases adjust to the width of the window */
@media only screen and (max-width: 768px) {
  .container-canvas {
    width: 100%;
  }

  select {
    max-width: 280px;
  }
}
