body {
  font-family: sans-serif;
  background-color: #000;
  color: #fff;
}

canvas {
  border-radius: 5px 5px 0 0;
  width: 100% !important;
  height: auto !important;
}

select {
  position: relative !important;
  display: block;
  padding: 10px;
  margin: 30px;
}

.menu-item {
  width: 250px;
  height: 50px;
  border: 1px solid gray;
  list-style-type: none;
  padding: 5px;
}

.container-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.hover {
  background: lightgray;
}

.selected {
  background: gold;
}

.container-canvas {
  border-radius: 5px;
  margin-bottom: 20px;
  background-color: lightgray;
  width: 48%;
}

@media only screen and (max-width: 768px) {
  .container-canvas {
    /* border-radius: 5px;
    margin-bottom: 20px;
    background-color: lightgray; */
    width: 100%;
  }
}
